<?xml version="1.0"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <system.webServer>
    <modules>
      <!--<add name="Prerender" type="Prerender.io.PrerenderModule, IslamicMatchMakers.Web, Version=1.0.0.0, Culture=neutral" />-->
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Strict-Transport-Security" value="max-age=31536000" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
    </staticContent>
    <rewrite>

      <outboundRules>
        <!-- 2sic modified: Add cache-control header for requests of type image (30 days) -->
        <rule name="Add cache-control header to image requests (30 days)">
          <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
          <conditions>
            <add input="{RESPONSE_STATUS}" pattern="^200" />
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^image/.+" />
          </conditions>
          <action type="Rewrite" value="max-age=2592000" />
        </rule>

        <rule name="Add cache-control header to css requests (30 days)">
          <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
          <conditions>
            <add input="{RESPONSE_STATUS}" pattern="^200" />
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/.+" />
          </conditions>
          <action type="Rewrite" value="max-age=2592000" />
        </rule>

        <rule name="Add cache-control header to js requests (30 days)">
          <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
          <conditions>
            <add input="{RESPONSE_STATUS}" pattern="^200" />
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^application/javascript" />
          </conditions>
          <action type="Rewrite" value="max-age=2592000" />
        </rule>

        <rule name="Add cache-control header to video requests (30 days)">
          <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
          <conditions>
            <add input="{RESPONSE_STATUS}" pattern="^200" />
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^video/.+" />
          </conditions>
          <action type="Rewrite" value="max-age=2592000" />
        </rule>

        <rule name="Add cache-control header to font requests (30 days)">
          <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
          <conditions>
            <add input="{RESPONSE_STATUS}" pattern="^200" />
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^font/.+" />
          </conditions>
          <action type="Rewrite" value="max-age=2592000" />
        </rule>


      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>
<!--ProjectGuid: 06674d2f-7cc9-4316-b4ff-a31f1b8b3367-->
